<%- include('./partials/header.ejs') %>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title"> Client Details </h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Client</a></li>
          <li class="breadcrumb-item active" aria-current="page">View Client</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">View Client Details</h4>
            <form class="form-sample"  method="post" action="/Update-new-client-submitt/<%= clients.id %> ">
              <p class="card-description"> Personal info </p>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">First Name</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="firstName"  value=<%= clients.firstName %> /> 
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Last Name</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" name="lastName" value=<%= clients.lastName %> />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label"  >Gender</label>
                    <div class="col-sm-9">
                      <select class="form-control" name="gender" value=<%= clients.gender %>>
                        <option>Selected: <%= clients.gender %></option>
                        <option>Male</option>
                        <option>Female</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label" >Date of Birth</label>
                    <div class="col-sm-9">
                      <input class="form-control" name="dateOfBirth" value=<%= clients.dateOfBirth %> placeholder="dd/mm/yyyy" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Category</label>
                    <div class="col-sm-9">
                      <select class="form-control" value=<%= clients.category %> placeholder=<%= clients.category %> name="category">
                        <option>selected : <%= clients.category %></option>
                        <option>Category1</option>
                        <option>Category2</option>
                        <option>Category3</option>
                        <option>Category4</option>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Membership</label>
                    <div class="col-sm-4">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="" checked> Free </label>
                      </div>
                    </div>
                    <div class="col-sm-5">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios2" value="option2"> Professional </label>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
              <p class="card-description"> Address </p>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Address 1</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" value=<%= clients.address1 %>name="address1"/>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">State</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control"  value=<%= clients.state %> name="state" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Address 2</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" value=<%= clients.address2 %> name="address2/>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Postcode</label>
                    <div class="col-sm-9">
                      <input value=<%= clients.postcode %>  type="text" class="form-control"  name="postalcode" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">City</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control"value=<%= clients.city %>  name="city" />
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Country</label>
                    <div class="col-sm-9">
                      <select class="form-control" value=<%= clients.country %> name="country">
                        <option>Selected: <%= clients.country %></option>
                        <option>Canada</option>
                        <option>US</option>
                     
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              
              <button type="submit" class="btn btn-gradient-primary mr-2">Update</button>
              <button class="btn btn-light">Cancel</button>
           
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include('./partials/footer.ejs') %>
